<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="dasoft.introeclipse.tipoftheday.tipsource">
      <TipSource
            class="dasoft.introeclipse.tipadder.EclipseTips"
            name="Eclipse tips">
      </TipSource>
   </extension>

</plugin>
